# Vector DB
*.pkl
*.npy
*.faiss

# Data folders
backend/data/vectorstore/
data/vectorstore/
scripts/data/vectorstore/

# Output / temp
OUTPUT/
# env files
.env
backend/.env
scripts/.env

# python cache
__pycache__/
*.pyc

# mac
.DS_Store

# venv
venv_srm/